.form {
  background: #151616;
}

.form label {
  display: flex;
  flex-direction: column;
  color: white;
  background: #151616;
}

.form input, select, textarea {
  width: 1000px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  color: white;
  background: #151616;
}

.form input[type=submit] {
  background-color: transparent;
  border: 1px solid #00C853;
  color: white;
  transition: all 200ms ease-in-out;
  background: #151616;
}

.form input[type=submit]:hover {
  background-color: #00C853;
  color: white;
}