.footer {
  background-color: red;
  width:100%;
  overflow: hidden;
}

.conteudoFooter {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudoFooter > address {
  color: white;
}

.conteudoFooter > nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

.conteudoFooter > nav > ul > li {
  padding: 0.5em;
}

.conteudoFooter > nav > ul > li > a {
  color: white;
  text-decoration: none;
}