.inputForm label {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: white;
  text-align: start;
}

.inputForm input {
  margin-top: .5rem;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background: #151616;
}

.inputForm + input[type="submit"] {
  margin-top: 1rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  cursor: pointer;
}